PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/nekcart
JWT_SECRET=nekcart-dev-secret-change-me
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000
SSLCOMMERZ_API_BASE=https://sandbox.sslcommerz.com
SSLCOMMERZ_VALIDATOR_BASE=https://sandbox.sslcommerz.com
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWD=
SSLCOMMERZ_IS_SANDBOX=true
